@page "/cardetail/{Id}"
@inject HttpClient HttpClient



<h1 class="page-title">Details for @Car.Name @Car.Model</h1>


<div class="col-12 row">
    <div class="col-2">
        <img src="@Car.ImageUrl" class="rounded-circle" />



    </div>
    <div class="col-10 row">
        <div class="col-xs-12 col-sm-8">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Car ID</label>
                <div class="col-sm-8">
                    <label type="text" class="form-control-plaintext">@Car.Id</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Model</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Car.Model</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Car Brand</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Car.Brand</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Year </label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Car.Year</label>
                </div>
            </div>

          




          

         
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Id { get; set; }
    private Car Car = new Car();
    private IEnumerable<Car> Cars= new List<Car>();
    protected override async Task OnInitializedAsync()
    {
        Cars = await HttpClient.GetFromJsonAsync<IEnumerable<Car>>("https://dbuser13-funcapp.azurewebsites.net/api/GetCars");
         Car = Cars.Where(c => c.Id == Id).FirstOrDefault();


      //  var Car = await HttpClient.GetFromJsonAsync<Car>("https://dbuser13-funcapp.azurewebsites.net/api/GetSingleCar?id="+Id.ToString());

    }



}