
@page "/carresume"
@inject HttpClient http

<h1 class="page-title">All Cars</h1>

@if (Cars == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Car ID</th>
                <th>Car name</th>
                <th>Car Model</th>
                <th>Car Brand</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Cars)
            {
                <tr>
                    <td><img src="@($"https://via.placeholder.com/30")" class="rounded-circle" /></td>
                    

                    <td>@car.Id</td>
                    <td>@car.Name</td>
                    <td>@car.Model</td>
                    <td>@car.Brand</td>
                    <td>@car.ImageUrl</td>
                    <td>
                        <a href="@($"cardetail/{car.Id}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code{
    public IEnumerable<Car> Cars { get; set; }
    protected override async Task OnInitializedAsync()
    {


        Cars = new List<Car>();
        Cars = await http.GetFromJsonAsync<IEnumerable<Car>>("https://dbuser13-funcapp.azurewebsites.net/api/GetCars");
    }
}
